/*  set js */

.dnone{
    display: none;
}


.gantiSetelahDiClick{
    color: #fff;
    background-color: blueviolet;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
/* end set js */
*{
    list-style: none;
}


body{
    padding: 0;    
    margin: 0;
    background: black;
}

.container{
    background-color: black;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}
.card{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, rgb(177, 21, 197),rgb(93, 150, 255));
    margin-top: 100px;
    padding: 30px 0 0;
    border-radius: 10px;

}
.ganticard{
    padding-bottom: 10px;
}


.mode{
    margin-left: 10px;
    font-family: cursive;
    font-size: .7rem;
    color: blueviolet;
    cursor: pointer;
    padding: 3px 4px;
    background-color: white;
    border-radius: 10px;
}

input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
}
input[placeholder]{
    accent-color: pink;
    color: black;
    font-family: cursive;
    font-size: .9rem;
}
.tambah{
    border-radius: 50%;
   color: black;
   background-color: white;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
ul{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
}
.gantiMode{
    flex-direction: column;
}

ul li{
    width: 370px;
    margin: 10px 0 -10;
    border-top: 5px solid white;
    padding-left: 30px;
    position: relative;
}
ul li h1{
    text-align: left;
    font-family:  cursive;
}
li h1, 
li p,
li span{
    color: #fff;
    font-family: cursive;
}
span.hapus{
    position: absolute;
    right:30px;
    top: calc(50% - 5px);
    font-size: 1rem;
    cursor: pointer;
    color: white;
}
ul li p{
    text-align: left;
}


::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #8a2be2;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 50px;
}
::-webkit-scrollbar-button{
    background-color: red;
}